<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--- Favicon <link rel="icon" type="image/x-icon" href="assets/img/favicon.svg" /> --->
    <!--- Custom CSS -->
    <link href='/assets/css/styles.css' rel='stylesheet'>
    <title>{{ page.title }}</title>
    {% seo %}
  </head>
  <body>
    {% include nav.html %}
    <div id='content' class='main'>
      {{ content }}
    </div>
  </body>
</html>
