.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 50vh;
}
.sidenav a {
    padding: 0px 0px 0px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}
.sidenav a:hover {
    color: yellow;
}
.main {
    margin-left: 150px;
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
h3 {
    padding: 0;
    margin: 0;
}
h6 {
    margin: 0;
    padding: 0;
}
